<div class="container_main">
      	 	<div class="container">
            <div class="formcontainer">
              <form onsubmit="sendSMS(this); return false;">
        			  <input id="text-input" name="phone" type="tel" placeholder="Link/URL..." />
        			  <br/>

                <input id="text-input" name="phone" type="tel" placeholder="Todays Date" />
                <br/>
                <hr/>
        			  <input id="button-input" type="submit"/>

        		  </form>
            </div>
          </div>
</div>
