{% extends "base_view.html" %}

{% block content %}
<!-- {% block head_title %} -->

<div class="container_main_1">
      	 	<div class="container_2">
            <div class="formcontainer">
              <!-- <form onsubmit="sendSMS(this); return false;"> -->
        			  <input id="text-input" name="phone" type="tel" placeholder="Link/URL..." />
        			  <br/>

                <input id="text-input" name="phone" type="tel" placeholder="Todays Date" />
                <br/>
                <hr/>
        			  <input id="button-input" type="submit"/>

        		  <!-- </form> -->
            </div>
          </div>
</div>

<!-- {% endblock %} -->
{% endblock %}
