{% extends "base_view.html" %}

{% block content %}

<center><h1>{{ title }}</h1></center>
<div class="cards-list">

<div class="card 1">
  <div class="card_image">
    <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
  <div class="card_title title-white">
    <p>Card One</p>
  </div>
</div>

  <div class="card 2">
  <div class="card_image">
    <img src="https://cdn.blackmilkclothing.com/media/wysiwyg/Wallpapers/PhoneWallpapers_FloralCoral.jpg" />
    </div>
  <div class="card_title title-white">
    <p>Card Two</p>
  </div>
</div>

<div class="card 3">
  <div class="card_image">
    <img src="https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif" />
  </div>
  <div class="card_title">
    <p>Card Three</p>
  </div>
</div>

  <div class="card 4">
  <div class="card_image">
    <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" />
    </div>
  <div class="card_title title-black">
    <p>Card Four</p>
  </div>
  </div>

  <div class="card 5">
  <div class="card_image">
    <img src="https://i.redd.it/b3esnz5ra34y.jpg" />
    </div>
  <div class="card_title title-black">
    <p>Card Five</p>
  </div>
  </div>

  <div class="card 6">
  <div class="card_image">
    <img src="https://cdn.blackmilkclothing.com/media/wysiwyg/Wallpapers/PhoneWallpapers_FloralCoral.jpg" />
    </div>
  <div class="card_title title-black">
    <p>Card Six</p>
  </div>
  </div>

  <div class="card 7">
  <div class="card_image">
    <img src="https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif" />
    </div>
  <div class="card_title title-black">
    <p>Card Seven</p>
  </div>
  </div>

  <div class="card 8">
  <div class="card_image">
    <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" />
    </div>
  <div class="card_title title-black">
    <p>Card Eight</p>
  </div>
  </div>



</div>

{% endblock %}
