<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Youtube Video Tracker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog">Add a song</a>
      </li>

    </ul>
    <!-- <div class="form-inline my-2 my-lg-0" action='/search/'> -->
      <!-- <input class="form-control mr-sm-2" type="search" name='q' placeholder="Search" aria-label="Search"> -->
      <button onclick='window.location = "https://stackoverflow.com"' class="btn btn-outline-success my-2 my-sm-3 mr-sm-4" type="submit">Log in</button>
      <button class="btn btn-outline-success my-2 my-sm-0 mr-sm-2" type="submit">Register</button>
    <!-- </form> -->
  </div>
</nav>
